body {
  padding-top: 4rem;
}

#root .bg.bg-purple {
  background-color: #392b58;
}
#root .bg.bg-u-violet {
  background-color: #645e9d;
}
#root .bg.bg-pumpkin {
  background-color: #ff6700;
}
#root .bg.bg-green {
  background-color: #157f1f;
}
#root .bg.bg-crayola {
  background-color: #f45b69;
}
#root .bg.bg-skobe {
  background-color: #0b7a75;
}
#root .btn.btn-blue {
  color: #ffffff;
  background-color: #1e30f3;
}
#root .btn.btn-pink {
  color: #ffffff;
  background-color: #e21e80;
}
#root .btn.btn-u-violet {
  color: #ffffff;
  background-color: #645e9d;
}
#root .btn.btn-r-violet {
  color: #ffffff;
  background-color: #392b58;
}
#root .btn.btn-purple {
  color: #ffffff;
  background-color: #2d0320;
}
#root .btn.btn-mindaro {
  color: #000000;
  background-color: #e2ef70;
}
#root .btn.btn-melon {
  color: #000000;
  background-color: #ffc0be;
}
#root .btn.btn-cambridge {
  color: #000000;
  background-color: #9ec5ab;
}
#root .btn.btn-green {
  color: #ffffff;
  background-color: #157f1f;
}
#root .btn.btn-pumpkin {
  color: #ffffff;
  background-color: #ff6700;
}
#root .btn.btn-sky {
  color: #ffffff;
  background-color: #72ddf7;
}
#root .btn.crayola {
  color: #ffffff;
  background-color: #f45b69;
}
#root .btn.skobe {
  color: #ffffff;
  background-color: #0b7a75;
}
#root #card-results .blue {
  color: #1e30f3;
}
#root #card-results .pink {
  color: #e21e80;
}
#root #card-results .u-violet {
  color: #645e9d;
}
#root #card-results .r-violet {
  color: #392b58;
}
#root #card-results .purple {
  color: #2d0320;
}
#root #card-results .mindaro {
  color: #e2ef70;
}
#root #card-results .melon {
  color: #ffc0be;
}
#root #card-results .cambridge {
  color: #9ec5ab;
}
#root #card-results .green {
  color: #157f1f;
}
#root #card-results .pumpkin {
  color: #ff6700;
}
#root #card-results .sky {
  color: #72ddf7;
}
#root #card-results .crayola {
  color: #f45b69;
}
#root #card-results .skobe {
  color: #0b7a75;
}
#root .card.accordion-item .card-header {
  padding: 0;
}
